html{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(104, 129, 245);
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

form {
    width: 500px;
    padding: 50px;
    background: rgb(247, 245, 250);
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 50px;
}

span { 
    color: rgb(163, 162, 162); 
    font-size: 12px;
}

.inputPair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

input, .formOutput {
    width: 350px;
    border: 1px solid rgb(189, 187, 187);
    padding: 3px;
    border-radius: 5px;
}
.formOutput {
    height: 250px;
}

button {
    display: flex;
    justify-content: center;    
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;    
    width: 100px;
    background: rgb(237, 240, 250);
    padding: 3px;
    border-color: rgb(216, 219, 250);
}

.second {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.second button {
    margin-bottom: 10px;
}

.formOutputButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divOnePair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px 0 5px;
}
p {   
    margin: 0;
}
.checkBox {
    width: 15px;
}


@media (max-width: 600px) {

    form {
        width: 250px;
        padding: 0 50px;
    }
    
    .inputPair, .formOutputButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        margin-top: 10px;
    }

    input, .formOutput{
        display: flex;
        width: 250px;
        padding: 0 5px;
    }
}